{% extends "base.html" %}
  {% block title %}
  <aside>
    <h1>Rage Driven Development</h1>
    <p>Ever encountered a block of code (or process) that is, arguably, some of the worst you've ever seen? Something you look at and ask <i>"How could anyone do this?"</i> before you bury your eyes into your fists and laugh-weep audibly.</p>

    <p>As the tears dry and all that remains is righteous indignation, you channel your anger into a solution so you don't have to waste one more second of your precious life dealing with it.</p>

    <p>This is a blog dedicated to those moments. Welcome to Rage Driven Development.</p>
  </aside>
  {% endblock %}
  

  {% block content %}
  <div class="main flex row-reverse">

    <nav class="nav box-shadow">
      <ul class="no-bullets">
        <li><a href="{{ SITEURL }}/archives.html">Posts</a></li>
        <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
        <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
      </ul>
    </nav>

    <main>
      {% for article in articles_page.object_list[:1] %}
      <article class="box-shadow card">
        <div>
          <a href="{{ SITEURL }}/{{ article.url }}">
            <img src="{{ article.summary_img }}">
            <h2>{{ article.title }}</h2>
            <time datetime="{{ article.date }}">{{ article.date|strftime('%d %B %Y') }}</time>
            <p>{{ article.summary }}</p>
          </a>
        </div>
      </article>
      {% endfor %}
    </main>

  </div>
  {% endblock content %}
