.md-header__button.md-logo {
    font-weight: 700;
    font-size: .9rem;
}

.img-row p {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}
.img-row p a {
  flex: 1;
  min-width: 0;
}
.img-row p a img {
  width: 100%;
  object-fit: cover;
}