:root  > * {
    /*--md-primary-fg-color: #ffffff;*/
    --md-typeset-a-color: #e92063;

    --md-default-bg-color--light: #e92063;
    --md-default-bg-color--dark:  #e92063;

}

@media screen {
  [data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(var(--md-hue),15%,14%,1);
  }
}

.md-header {
    color: #ffffff;
}

.md-search__button {
    color: #ffffff;
    background-color: var(--md-default-fg-color--lighter);
}

.md-search__button:hover {
    background-color: #ec417a;
    color: #ffffff;
}

.md-search__button::before {
    background-color: #ffffff;
}

.md-header__button.md-logo {
    font-weight: 700;
    font-size: .9rem;
}

.md-nav--primary .md-nav__item .md-nav__link--active {
  background: rgba(236, 65, 122, 0.1);
  color: var(--md-typeset-a-color);
}

.md-top {
    color: #ffffff;
    /*background-color: #9e1543;*/
}

.md-top:hover {
  background-color: #ec417a;
  /*background-color: #ec417a;*/
}

@media screen and (max-width: 76.2344em) {
    .md-sidebar--primary {
        background-color: #ffffff;
    }

    .md-nav .md-nav__title[for="__drawer"] {
        font-size: 0rem;
        display: inline-block;
    }

    .md-nav .md-nav__title[for="__drawer"] .md-logo {
        font-size: 0.9rem;
    }
}

.md-footer-meta {
    background-color: #161616;
}

.md-copyright__highlight {
  color: #ffffffb3;
}

.md-copyright {
    color: #ffffff73;
}

html .md-footer-meta.md-typeset a:not(:focus, :hover) {
  color: #ffffffb3;
}

html .md-footer-meta.md-typeset a:hover {
    color: #ffffff;
}
