:root  > * {
    /*--md-primary-fg-color: #ffffff;*/
    --md-typeset-a-color: #e92063;

    --md-default-bg-color--light: #e92063;
    --md-default-bg-color--dark:  #e92063;

}

.md-header {
    color: #ffffff;
}

.md-search__button {
    color: #ffffff;
    background-color: var(--md-default-fg-color--lighter);
}


.md-search__button:hover {
    background-color: #ec417a;
    color: #ffffff;
}


.md-search__button::before {
    background-color: #ffffff;
}

.md-header__button.md-logo {
    font-weight: 700;
    font-size: .9rem;
}

@media screen and (max-width: 76.2344em) {
    .md-sidebar--primary {
        background-color: #ffffff;
    }

    .md-nav .md-nav__title[for="__drawer"] {
        font-size: 0rem;
        display: inline-block;
    }

    .md-nav .md-nav__title[for="__drawer"] .md-logo {
        font-size: 0.9rem;
    }
}
